body {
    background-color: #085528;
}

a:visited {
    color: #FCD9F6;
}

.navbar {
    background-color: #1a237e;
}

.pageHeader {
    color: #fafafa;
}

label {
    margin-left: 10%;
    font-size: larger;
    font-weight: bolder;
}

footer {
    margin-top: 10%;
    color: black;
    font-weight: 900;
    font-size: 35px;
}

.inputOut {
    border: solid;
    border-color: #212121;
    background-color: #2979ff;
    position: relative;
    float: left;
    height: 250px;
    width: 500px;
    top: 200px;
    left: 695px;
}

.output {
    width: 400px;
}